.nav-container{
    position: fixed;
    top: 0px;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    */z-index: 9999;
}
.navbar{
    padding: 1.5em 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    margin: 0px 15px;
}
.fa-bars{
    display: none;
}

@media only screen and (max-width: 600px) {

    .navbar > ul, .navbar > .btn-primary{
        display: none;
    }
    .fa-bars{
        display: block;
        font-size: 26px;
    }
    .nav-responsive{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 20%;
    }
    .nav-responsive > ul{
        display: flex;
        flex-direction: column;
    }
    .nav-responsive > ul > a{
        font-size: 1.5em;
        margin: 15px 0px;
    }
}