.nav-container{
    position: fixed;
    top: 0px;
    z-index: 9999;
}
.navbar{
    padding: 1.5em 0px;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}
.nav-items{
    margin: 0px 15px;
}
.navbar > .bg-none{
    display: none;
}

@media only screen and (max-width: 600px) {

    .navbar > ul, .navbar > .btn-primary{
        display: none;
    }
    .navbar > .bg-none{
        display: block;
    }
    .fa-bars{
        font-size: 26px;
    }
    .nav-responsive{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 20%;
    }
    .nav-responsive > ul{
        display: flex;
        flex-direction: column;
    }
    .nav-responsive > ul > a{
        font-size: 1.5em;
        margin: 15px 0px;
    }
}